################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UmbracoXmlEdit.Tests/obj
/UmbracoXmlEdit.Tests/bin
/UmbracoXmlEdit/obj
/UmbracoXmlEdit/bin
/packages
/.vs