################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UmbracoXmlEdit.Tests/obj/Debug
/UmbracoXmlEdit.Tests/bin/Debug
/UmbracoXmlEdit/obj/Debug
/UmbracoXmlEdit/bin
/packages
/.vs
